body {
  background-color: #dfcbaa;
  font-size: 150%;
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-weight: medium;
  font-feature-settings: 'lnum' 1, 'case' 1, 'cpsp' 1;
}

h2 {
  font-weight: 400;
}
