body {
  background-color: #dfcbaa;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 150%;
}

h1 {
  font-family: "Times New Roman";
  font-weight: medium;
}

h2 {
  font-weight: 400;
}
